USE [master]
GO
/****** Object:  Database [MarketSystem]    Script Date: 24.7.2015 г. 10:38:35 ******/
CREATE DATABASE [MarketSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarketSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MarketSystem.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MarketSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MarketSystem_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarketSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarketSystem]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Measures]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measures](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Measures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[VendorId] [int] NOT NULL,
	[MeasureId] [int] NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesReports]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupermarketId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalSum] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.SalesReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supermarkets]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supermarkets](
	[Id] [int] NOT NULL,
	[TownId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Supermarkets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Towns]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towns](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Towns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VendorExpenses]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorExpenses](
	[VendorId] [int] NOT NULL,
	[Month] [datetime] NOT NULL,
	[Expenses] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.VendorExpenses] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC,
	[Month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 24.7.2015 г. 10:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Vendors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Measures] ([Id], [Name]) VALUES (1, N'liters')
INSERT [dbo].[Measures] ([Id], [Name]) VALUES (2, N'pieces')
INSERT [dbo].[Measures] ([Id], [Name]) VALUES (3, N'kg')
INSERT [dbo].[Products] ([Id], [Price], [VendorId], [MeasureId], [ProductTypeId], [Name]) VALUES (1, CAST(7.70 AS Decimal(18, 2)), 4, 1, 1, N'Vodka "Targovishte"')
INSERT [dbo].[Products] ([Id], [Price], [VendorId], [MeasureId], [ProductTypeId], [Name]) VALUES (2, CAST(1.05 AS Decimal(18, 2)), 3, 1, 1, N'Beer "Beck''s"')
INSERT [dbo].[Products] ([Id], [Price], [VendorId], [MeasureId], [ProductTypeId], [Name]) VALUES (3, CAST(0.88 AS Decimal(18, 2)), 2, 1, 1, N'Beer "Zagorka"')
INSERT [dbo].[ProductTypes] ([Id], [Name]) VALUES (1, N'Alcohol')
INSERT [dbo].[ProductTypes] ([Id], [Name]) VALUES (2, N'Sweets')
INSERT [dbo].[ProductTypes] ([Id], [Name]) VALUES (3, N'Non-alcohol')
INSERT [dbo].[Supermarkets] ([Id], [TownId], [Name]) VALUES (1, 1, N'Supermarket "Plovdiv - Stolipinovo"')
INSERT [dbo].[Supermarkets] ([Id], [TownId], [Name]) VALUES (2, 2, N'Supermarket "Kaspichan - Center"')
INSERT [dbo].[Supermarkets] ([Id], [TownId], [Name]) VALUES (3, 3, N'Supermarket "Bourgas - Plaza"')
INSERT [dbo].[Towns] ([Id], [Name]) VALUES (1, N'Plovdiv')
INSERT [dbo].[Towns] ([Id], [Name]) VALUES (2, N'Kaspichan')
INSERT [dbo].[Towns] ([Id], [Name]) VALUES (3, N'Bourgas')
INSERT [dbo].[Vendors] ([Id], [Name]) VALUES (1, N'Nestle Sofia Corp.')
INSERT [dbo].[Vendors] ([Id], [Name]) VALUES (2, N'Zagorka Corp.')
INSERT [dbo].[Vendors] ([Id], [Name]) VALUES (3, N'Kamenitza Ltd.')
/****** Object:  Index [IX_MeasureId]    Script Date: 24.7.2015 г. 10:38:35 ******/
CREATE NONCLUSTERED INDEX [IX_MeasureId] ON [dbo].[Products]
(
	[MeasureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductTypeId]    Script Date: 24.7.2015 г. 10:38:35 ******/
CREATE NONCLUSTERED INDEX [IX_ProductTypeId] ON [dbo].[Products]
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VendorId]    Script Date: 24.7.2015 г. 10:38:35 ******/
CREATE NONCLUSTERED INDEX [IX_VendorId] ON [dbo].[Products]
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 24.7.2015 г. 10:38:35 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[SalesReports]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupermarketId]    Script Date: 24.7.2015 г. 10:38:35 ******/
CREATE NONCLUSTERED INDEX [IX_SupermarketId] ON [dbo].[SalesReports]
(
	[SupermarketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TownId]    Script Date: 24.7.2015 г. 10:38:35 ******/
CREATE NONCLUSTERED INDEX [IX_TownId] ON [dbo].[Supermarkets]
(
	[TownId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VendorId]    Script Date: 24.7.2015 г. 10:38:35 ******/
CREATE NONCLUSTERED INDEX [IX_VendorId] ON [dbo].[VendorExpenses]
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Measures_MeasureId] FOREIGN KEY([MeasureId])
REFERENCES [dbo].[Measures] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Measures_MeasureId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductTypes_ProductTypeId] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductTypes_ProductTypeId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Vendors_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Vendors_VendorId]
GO
ALTER TABLE [dbo].[SalesReports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesReports_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesReports] CHECK CONSTRAINT [FK_dbo.SalesReports_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[SalesReports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesReports_dbo.Supermarkets_SupermarketId] FOREIGN KEY([SupermarketId])
REFERENCES [dbo].[Supermarkets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesReports] CHECK CONSTRAINT [FK_dbo.SalesReports_dbo.Supermarkets_SupermarketId]
GO
ALTER TABLE [dbo].[Supermarkets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Supermarkets_dbo.Towns_TownId] FOREIGN KEY([TownId])
REFERENCES [dbo].[Towns] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supermarkets] CHECK CONSTRAINT [FK_dbo.Supermarkets_dbo.Towns_TownId]
GO
ALTER TABLE [dbo].[VendorExpenses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VendorExpenses_dbo.Vendors_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendorExpenses] CHECK CONSTRAINT [FK_dbo.VendorExpenses_dbo.Vendors_VendorId]
GO
USE [master]
GO
